<header class="main-header">
    <nav class="main-header-nav">
        <ul class="parent">
            <li> <a href="/product-list"> Shop </a> </li>
            <!-- <li> <a href="/">My Products </a> </li> -->

        
            <% if (isAuthenticated) { %>
            <li> <a href="/add-product"> Add product </a> </li>
            <li> <a href="/admin-product"> Admin Products </a> </li>
            <li> <a href="/cart"> cart </a> </li>
            <li> <a href="/orders"> Orders </a> </li>
            <!-- <li> <a href="/checkout"> Checkout </a> </li> -->
                <% } %>
       
       
        </ul>



        <ul class="parent">
            <% if (!isAuthenticated){ %>
            <li> <a href="/login"> Login </a> </li>

            <li> <a href="/sginup"> Sginup </a> </li>

            <% } %>
            <% if (isAuthenticated){ %>

           <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="parent" type="submit">Logout</button>
        </form>
        <% } %>

        </ul>
    </nav>
</header>